<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/home"><img src="/assets/images/go-home.svg" width="30" height="30" alt=""> Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/drones">drones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/flightlog">flight log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addflight">add flight</a>
      </li>
      <a class="nav-link" href="/adddrone">add drone</a>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">logout</a>
      </li>
    </ul>
</nav>
